{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <section class="bg-light">
        <div class="container">
            <div class="row px-4 px-lg-5 py-lg-4 align-items-center">
                <div class="col-lg-6">
                    <h1 class="h4 text-uppercase mb-0">Terms & Conditions</h1>
                </div>
                <div class="col-lg-6 text-lg-right">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-lg-end mb-0 px-0">
                            <li class="breadcrumb-item"><a href="{% url 'store:home' %}">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Terms & Conditions</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <section class="py-5">

        <p>Welcome to Nimayah Jewellery. These terms and conditions outline the rules and regulations for the use of
            Nimayah Jewellery's Website.</p>
        <p>By accessing this website we assume you accept these terms and conditions. Do not continue to use Namayah
            Jewellery's website if you do not agree to take all of the terms and conditions stated on this page.</p>
        <p>The following terminology applies to these Terms and Conditions, Privacy Statement and Disclaimer Notice and
            all Agreements: "Client", "You" and "Your" refers to you, the person log on this website and compliant to
            the Company’s terms and conditions. "The Company", "Ourselves", "We", "Our" and "Us", refers to our Company.
            "Party", "Parties", or "Us", refers to both the Client and ourselves. All terms refer to the offer,
            acceptance and consideration of payment necessary to undertake the process of our assistance to the Client
            in the most appropriate manner for the express purpose of meeting the Client’s needs in respect of provision
            of the Company’s stated services, in accordance with and subject to, prevailing law of Netherlands. Any use
            of the above terminology or other words in the singular, plural, capitalization and/or he/she or they, are
            taken as interchangeable and therefore as referring to same.</p>
        <h2>Cookies</h2>
        <p>We employ the use of cookies. By accessing Nimayah Jewellery, you agreed to use cookies in agreement with the
            Nimayah Jewellery's Privacy Policy.</p>
        <p>Most interactive websites use cookies to let us retrieve the user’s details for each visit. Cookies are used
            by our website to enable the functionality of certain areas to make it easier for people visiting our
            website. Some of our affiliate/advertising partners may also use cookies.</p>
        <h2>License</h2>
        <p>Unless otherwise stated, Nimayah Jewellery and/or its licensors own the intellectual property rights for all
            material on Nimayah Jewellery. All intellectual property rights are reserved. You may access this from
            Nimayah Jewellery for your own personal use subjected to restrictions set in these terms and conditions.</p>
        <p>You must not:</p>
        <ul>
            <li>Republish material from Nimayah Jewellery</li>
            <li>Sell, rent or sub-license material from Nimayah Jewellery</li>
            <li>Reproduce, duplicate or copy material from Nimayah Jewellery</li>
            <li>Redistribute content from Nimayah Jewellery</li>
        </ul>
        <p>This Agreement shall begin on the date hereof.</p>
        
        <h2>You warrant and represent that:</h2>
        <ul>
            <li>You are entitled to post the Comments on our website and have all necessary licenses and consents to
                do so;</li>
            <li>The Comments do not invade any intellectual property right, including without limitation copyright,
                patent or trademark of any third party;</li>
            <li>The Comments do not contain any defamatory, libelous, offensive, indecent or otherwise unlawful
                material which is an invasion of privacy</li>
            <li>The Comments will not be used to solicit or promote business or custom or present commercial
                activities or unlawful activity.</li>
        </ul>
        <p>You hereby grant Nimayah Jewellery a non-exclusive license to use, reproduce, edit and authorize others
            to use, reproduce and edit any of your Comments in any and all forms, formats or media.</p>
        <h2>Hyperlinking to our Content</h2>
        <p>The following organizations may link to our Website without prior written approval:</p>
        <ul>
            <li>Government agencies;</li>
            <li>Search engines;</li>
            <li>News organizations;</li>
            <li>Online directory distributors may link to our Website in the same manner as they hyperlink to the
                Websites of other listed businesses; and</li>
            <li>System wide Accredited Businesses except soliciting non-profit organizations, charity shopping
                malls, and charity fundraising groups which may not hyperlink to our Web site.</li>
        </ul>
        <p>These organizations may link to our home page, to publications or to other Website information so long as
            the link: (a) is not in any way deceptive; (b) does not falsely imply sponsorship, endorsement or approval
            of the linking party and its products and/or services; and (c) fits within the context of the linking
            party’s site.</p>
        <h2>Content Liability</h2>
        <p>We shall not be hold responsible for any content that appears on your Website. You agree to protect and
            defend us against all claims that is rising on your Website. No link(s) should appear on any Website
            that may be interpreted as libelous, obscene or criminal, or which infringes, otherwise violates, or
            advocates the infringement or other violation of, any third party rights.</p>
        <h2>Reservation of Rights</h2>
        <p>We reserve the right to request that you remove all links or any particular link to our Website. You
            approve to immediately remove all links to our Website upon request. We also reserve the right to amen these
            terms and conditions and it’s linking policy at any time. By continuously linking to our Website, you agree
            to be bound to and follow these linking terms and conditions.</p>
        <h2>Removal of links from our website</h2>
        <p>If you find any link on our Website that is offensive for any reason, you are free to contact and inform
            us any moment. We will consider requests to remove links but we are not obligated to or so or to respond to
            you directly.</p>
        <p>We do not ensure that the information on this website is correct,complete, accurate, or up-to-date. We
            may make changes to the material on this website at any time without notice. However, we do not make any
            commitment to update the material.</p>

        <h2>Disclaimer</h2>
        <p>To the maximum extent permitted by applicable law, we exclude all representations, warranties, and
            conditions relating to our website and the use of this website (including, without limitation, any
            warranties implied by law in respect of satisfactory quality, fitness for purpose, and/or the use of
            reasonable care and skill). Nothing in this disclaimer will:</p>
        <ul>
            <li>limit or exclude our or your liability for death or personal injury resulting from negligence;</li>
            <li>limit or exclude our or your liability for fraud or fraudulent misrepresentation;</li>
            <li>limit any of our or your liabilities in any way that is not permitted under applicable law; or</li>
            <li>exclude any of our or your liabilities that may not be excluded under applicable law.</li>
        </ul>
        <p>The limitations and prohibitions of liability set in this Section and elsewhere in this disclaimer: (a)
            are subject to the preceding paragraph; and (b) govern all liabilities arising under the disclaimer,
            including liabilities arising in contract, in tort, and for breach of statutory duty.</p>
        <p>As long as the website and the information and services on the website are provided free of charge, we
            will not be liable for any loss or damage of any nature.</p>
        <h2>Changes to Terms</h2>
        <p>We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision
            is material, we will try to provide at least 30 days' notice prior to any new terms taking effect. What
            constitutes a material change will be determined at our sole discretion.</p>
        <h2>Contact Us</h2>
        <p>If you have any questions about these Terms, please contact us:</p>
        <ul>
            <li>By email: your12@gmail.com</li>
            <li>By visiting this page on our website:
                <a href="{% url 'store:contact' %}">Contact Us</a>
            </li>
        </ul>
    </section>
</div>
{% endblock content %}